* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

footer{
    width: 100%;
}

.pie-pagina .grupo-2 {
    background-color: var(--Color3);
    padding: 15px 10px;
    text-align: center;
    color: var(--textoFooter);
}

.pie-pagina .grupo-2 small {
    font-size: 1.2em;
}
