main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBienvenida{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
}

body.darkTheme .imgBienvenida{
    content: url(../img/Bienvenido\ Klificame\ Dark.png);
}

body.greyScale .imgBienvenida{
    filter: grayscale(100%);
}

body.yellowBlack .imgBienvenida{
    content: url(../img/Bienvenido\ Klificame\ Yellow.png);
}

body.contrast .imgBienvenida{
    filter: contrast(200%);
}
