main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.formContainer{
    background: var(--ColorSec);
    width: 1237px;
    height: 500px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.img{
    width: 570px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--ColorSec);
    border-right: solid var(--Texto2) 3px;
    position: absolute;
    z-index: 1;
    transition: all 1s;
}

.img:hover{
    cursor: pointer;
}

.formTransition{
    width: 1240px;
}

.img img{
    width: 530px;
    transition: all .5s;
}

.img img:hover{
    cursor: pointer;
    transform: scale(102%);
}

.disactive{
    opacity: 0;
    position: absolute;
    width: 45%;
}

.form1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form2{
    display: none;
}

.form{
    display: flex;
    flex-direction: column;
    width: 610px;
    height: 95%;
    justify-content: center;
    align-items: center;
    margin-left: 590px;
}

.form h1{
    color: var(--Texto2);
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Heavy';
    font-size: 3em;
}

.form p{
    color: var(--Texto2);
    position: relative;
    margin-top: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.inputDiv{
    width: 275px;
    height: 50px;
    margin-right: 15px;
    margin-left: 15px;
    border: solid var(--BorderInput) 5px;
    background: var(--BgInput);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.inputDiv i{
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    color: var(--Eye);
}

form input{
    width: 100%;
    height: 100%;
    background: var(--BgInput);
    color: var(--TextoInput);
    border: none;
    border-radius: 10px;
    margin-left: 5px;
}

form input::placeholder {
    color: var(--TextoInput); /* Cambia este valor al color que desees */
}

form input:focus {
    outline: none;
}

button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: var(--BorderInput);
    color: var(--BgInput);
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    margin-top: 30px;
}

button i{
    animation: giro 2s infinite;
}

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

button:hover{
    cursor: pointer;
}

/* DARK THEME */
body.darkTheme .formContainer{
    background: var(--ColorSec);;
}

body.darkTheme .img img{
    content: url('../img/imagotipo_Dark.png');
}


body.greyScale .img img{
    filter: grayscale(100%);   
}

body.yellowBlack .img img{
    content: url('../img/imagotipo_YellowBlack.png');
    filter: drop-shadow(
        0 0 1px rgba(255, 221, 0)
    );
}

body.contrast .img img{
    filter: contrast(200%);
}