*{
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

.containerHead{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 40px;
    width: 100%;
}

.img1{
    position: absolute;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.img2{
    position: absolute;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

.imagotipo{
    height: 100px;
}

.imagotipo:hover{
    cursor: pointer;
}

.paybluem{
    height: 100px;
}

.title{
    margin-top: 10px;
    font-size: 18px;
    width: 500px;
    text-align: center;
}

.date{
    margin-left: 25px;
    margin-right: 25px;
    text-align: right;
}

.text{
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}

.amount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.imgAmount{
    height: 220px;
    width: 100%;
    z-index: 1;
}

.amountContent{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.pAmount{
    position: absolute;
    color: #fff;
    bottom: 0;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 2em;
    z-index: 2;
}

.reportGraphics{
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bigReportGraphics{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firma{
    position: absolute;
    left: 0;
}

.sello{
    margin-left: 25px;
    width: 200px;
}